<div class='flex font-mono items-center justify-center min-h-screen from-purple-900 via-indigo-800 to-indigo-500 bg-gradient-to-br'>
    <div class='w-full max-w-lg px-10 py-8 mx-auto bg-white border rounded-lg shadow-2xl'>
        <div class='max-w-md mx-auto space-y-3'>
            <h1 class="text-lg font-semibold">Busca Cep</h1>
            <div>
                <label class="block py-1 mb-2">Por favor, digite um CEP</label>
                <input  id="cepInput" [(ngModel)]="cep" (input)="applyMask($event)" (keydown.enter)="search(cep)" pattern="\d{5}-?\d{3}" type="text" name="cep" placeholder="12345-678" class="border w-full py-2 px-2 rounded shadow hover:border-indigo-600 ring-1 ring-inset ring-gray-300 font-mono">
            </div>
            <div class="flex gap-3 pt-3 items-center">
                <button type="submit" (click)="search(cep)" class="border hover:border-indigo-600 from-indigo-600 to-indigo-500 bg-gradient-to-br text-white px-4 py-2 rounded-lg shadow ring-1 ring-inset ring-gray-300">consultar</button>
            </div>
            <div *ngIf="address" class="shadow overflow-hidden rounded">
                <table class="min-w-full bg-white">
                    <tbody  class="text-gray-700">
                        <tr>
                            <td class="w-1/5 border border-indigo-800 text-left py-3 px-4 bg-indigo-600 text-white uppercase font-semibold text-sm">CEP</td>
                            <td class="w-4/5 border border-gray-200 text-left py-3 px-4">{{ address.cep }}</td>
                        </tr>
                        <tr>
                            <td class="w-1/5 border border-indigo-800 text-left py-3 px-4 bg-indigo-600 text-white uppercase font-semibold text-sm">Logradouro</td>
                            <td class="w-4/5 border border-gray-200 text-left py-3 px-4">{{ address.logradouro }}</td>
                        </tr>
                        <tr>
                            <td class="w-1/5 border border-indigo-800 text-left py-3 px-4 bg-indigo-600 text-white uppercase font-semibold text-sm">Bairro</td>
                            <td class="w-4/5 border border-gray-200 text-left py-3 px-4">{{ address.bairro }}</td>
                        </tr>
                        <tr>
                            <td class="w-1/5 border border-indigo-800 text-left py-3 px-4 bg-indigo-600 text-white uppercase font-semibold text-sm">Cidade</td>
                            <td class="w-4/5 border border-gray-200 text-left py-3 px-4">{{ address.localidade }}</td>
                        </tr>
                        <tr>
                            <td class="w-1/5 border border-indigo-800 text-left py-3 px-4 bg-indigo-600 text-white uppercase font-semibold text-sm">Estado</td>
                            <td class="w-4/5 border border-gray-200 text-left py-3 px-4">{{ address.uf }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
